/*---------------------------------- CSS Reset -------------------------------------------------------------------------- */
/* 
1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
	margin: 0;
	font-family: oswald;
}
/*
    3. Allow percentage-based heights in the application
  */
html,
body {
	height: 100%;
}
/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
	font: inherit;
}
/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* ----------------------------------------- Actual CSS ---------------------------------------------------------*/

body {
	background-color: #202020;
}

nav {
	width: 100%;
	height: 190px;
	padding-left: 120px;
	padding-right: 140px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#hamburger {
	padding-top: 10px;
	cursor: pointer;
}

#navlogo {
	cursor: pointer;
}

.sidenavbar {
	width: 550px;
	height: 100%;
	position: absolute;
	top: 0px;
	right: -300px;
	background-color: #f25454;
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding-top: 50px;
}

.sidenavbar > a {
	background-color: #f25454;
	text-decoration: none;
	color: white;
	font-weight: 300;
	margin-left: 30px;
	font-size: 23px;
}

.sidenavbar > a:hover {
	font-weight: 700;
}

#x-button {
	font-size: 50px;
	font-weight: 300;
	background-color: #f25454;
	margin-left: 160px;
	color: white;
	cursor: pointer;
	user-select: none;
}

#x-button:hover {
	font-weight: 800;
}

footer {
	position: fixed;
	bottom: 0px;
	height: 15px;
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: #f25454;
	border-radius: 2px;
}

footer > p {
	background-color: #f25454;
	font-weight: 300;
	font-size: 8px;
	color: white;
}

.landing-container {
	margin-left: 130px;
}

.landing-container > h1 {
	font-weight: 600;
	font-size: 138px;
	color: white;
	margin-top: 130px;
	line-height: 120px;
}

#red {
	color: #f25454;
}

.landing-container > h2 {
	font-weight: 300;
	font-size: 36.5315px;
	margin-left: 15px;
	color: #b8b8b8;
}

.landing-pick-menu {
	width: 850px;
	height: 215px;
	background: #2e2e2e;
	border: 1px solid #9e9e9e;
	border-radius: 33px;
	margin-top: 25px;
}

.landing-menu-container {
	margin-left: 45px;
	margin-right: 45px;
	margin-top: 30px;
}

.landing-menu-title > h3 {
	font-weight: 200;
	font-size: 46.5275px;
	color: white;
}

.landing-menu-title {
	display: flex;
	align-items: center;
	gap: 15px;
}

.landing-menu-title > img {
	width: 53px;
	height: 53px;
}

.landing-menu-container > h4 {
	font-weight: 600;
	font-size: 14.4612px;
	color: #bfbfbf;
}

.landing-menu-buttons {
	display: flex;
	gap: 120px;
}

.bo-button {
	margin-top: 10px;
	background: linear-gradient(90deg, #cb2d3e 0%, #ef473a 100%);
	border-radius: 8.93069px;
	width: 300px;
	height: 35px;
	padding-bottom: 5px;
	color: white;
	font-weight: 400;
	font-size: 14.4612px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	user-select: none;
}

.linkshare-container {
	margin-top: 155px;
	display: flex;
	justify-content: center;
	color: white;
}

.linkshare-box > h1 {
	font-weight: 600;
	font-size: 36.5315px;
	line-height: 35px;
}

.linkshare-box > h2 {
	font-weight: 300;
	font-size: 25px;
}

.link-box {
	width: 875px;
	height: 179px;
	background: #202020;
	border: 1px solid #ffffff;
	border-radius: 16px;
	margin-top: 10px;
}

.link-box > h3 {
	font-weight: 300;
	font-size: 36.5315px;
	margin-left: 45px;
	margin-top: 15px;
}

#linkinput {
	font-weight: 300;
	font-size: 12px;
	width: 750px;
	margin-left: 45px;
	border: 1px solid #a9a9a9;
	border-radius: 6px;
	background-color: #202020;
	color: white;
	padding-left: 10px;
}

.link-container {
	display: flex;
}

.link-container > img {
	cursor: pointer;
}

.cancel-button {
	display: flex;
	gap: 5px;
	background: #e63737;
	border-radius: 5px;
	width: 140px;
	height: 35px;
	font-weight: 500;
	font-size: 12px;
	align-items: center;
	justify-content: center;
	margin: auto;
	margin-top: 20px;
	padding-bottom: 10px;
	padding-top: 7px;
	user-select: none;
	cursor: pointer;
}

.cancel-button > img {
	width: 16px;
	height: 16px;
	padding-top: 2px;
}

#copyclipboard {
	position: relative;
	left: 738px;
	top: -125px;
}

#loading {
	height: 150px;
	width: 150px;
	margin: auto;
	margin-top: 200px;
}

path {
	stroke-width: 3px;
	stroke-linecap: round;
}

#bo2-grid {
	width: 880px;
}

.bo2-mapui-container {
	border: 1px solid #ffffff;
	border-radius: 21px;
	width: 1075px;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 510px;
}

.pick-titles {
	display: flex;
	font-size: 20px;
	gap: 133px;
	width: 100%;
	padding-left: 97px;
	margin-top: 60px;
}

.map-ban {
	color: #a5a5a5;
	font-weight: 400;
}

.map-pick {
	color: white;
	font-weight: 400;
}

.bo2-mapui-container > h1 {
	color: white;
	font-weight: 300;
	font-size: 40px;
	margin-top: 10px;
}

.blue {
	color: #1aacff;
	font-weight: 500;
}

.bo2-container {
	color: white;
	font-weight: 500;
	font-size: 17px;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.bo2-container > h2 {
	margin-bottom: 20px;
	width: 1075px;
}

.cards-container {
	position: relative;
	top: -320px;
	left: -10px;
	display: flex;
}

.ban2 {
	position: relative;
	left: -10px;
}

.pick1 {
	position: relative;
	left: -12px;
}

.bo2-map-table {
	height: 325px;
}

.card-container > p {
	position: relative;
	top: -26px;
	font-weight: 300;
	font-size: 13px;
	text-align: center;
	background: rgba(50, 39, 39, 0.55);
	border-radius: 3px;
	height: 26px;
}

.pick-modal-container {
	display: flex;
	width: 775px;
	height: 615px;
	position: absolute;
	background: #343434;
	box-shadow: 17px 11px 6px -1px rgba(0, 0, 0, 0.25);
	border-radius: 13px;
}

.pick-modal-text {
	width: 260px;
	margin-left: 45px;
	margin-top: 25px;
	margin-right: 10px;
}

.pick-modal-text > h1 {
	font-weight: 400;
	font-size: 39.25px;
}

.pick-modal-maps {
	padding-top: 70px;
	padding-left: 20px;
	display: grid;
	grid-template-columns: 130px 130px 130px;
	grid-template-rows: 180px 180px 180px;
	width: 480px;
}

.modal-card {
	width: 110px;
	cursor: pointer;
	filter: brightness(100%);
}

.modal-card:hover {
	filter: brightness(130%);
}

#red {
	color: #f25454;
}

#light {
	color: #cde5f2;
}

#lblue {
	color: #48c7ef;
}

.side-modal-container {
	display: flex;
	flex-direction: column;
	width: 775px;
	height: 615px;
	position: absolute;
	background: #343434;
	box-shadow: 17px 11px 6px -1px rgba(0, 0, 0, 0.25);
	border-radius: 13px;
}

.side-buttons {
	display: flex;
	gap: 70px;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 60px;
}

.attack-button {
	display: flex;
	width: 250px;
	height: 250px;
	align-items: center;
	justify-content: center;
	background: #df5f5f;
	border-radius: 15px;
	font-weight: 600;
	font-size: 26.9425px;
	cursor: pointer;
}

.defence-button {
	display: flex;
	width: 250px;
	height: 250px;
	align-items: center;
	justify-content: center;
	background: #5f9b70;
	border-radius: 15px;
	font-weight: 600;
	font-size: 26.9425px;
	cursor: pointer;
}

